.main .main__article:last-of-type {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
@media screen and (min-width: 440px) {
    .main .main__article:last-of-type  {
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
}
@media screen and (min-width: 1200px) {
    .main .main__article:last-of-type  {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}